{% extends "@App/base.html.twig" %}

{% block content %}
<h1 class="display-4">{{ article.title }}</h1>
<p>{{ article.body }}</p>
<div>{{ form(form) }}</div>
<div>
    {% for comment in comments %}
        <p>{{ comment.body }}</p>
    {% endfor %}
</div>
{% endblock %}