{% extends "@App/base.html.twig" %}

{% block content %}
<h1 class="display-4">Blog</h1>
<div>
    {% for article in articles %}
        <h2>{{ article.title }}</h2>
        <p>{{ article.body }}</p>
        <p><a href="/article/{{ article.id }}">Voir l'article complet et les commentaires</a></p>
    {% endfor %}
</div>
{% endblock %}